 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="font-'helvetica_now_display' border-box m-0 p-0">      
        <% if(success.length>0){ %>
<div id="flashMessage" class="flash success fixed bottom-18 left-[55vw] -translate-x-1/2 w-[15%]
        bg-blue-800/40 backdrop-blur-xl
        rounded-full px-8 py-3 flex flex-row justify-center
        shadow-lg border border-white/10 z-50 mb-10 text-black"> 
    <span class="inline-block mt-1 mb-1 px-1 text-black">
        <%= success %>
    </span>
        </div>
<% } %>
    <div class="w-full h-screen flex items-start px-20 py-20">
        <div class="w-[25%] flex h-screen flex-col items-start">
            <div class="flex flex-col">
                <a class="block w-fit mb-2" href="">All Products</a>
                <a class="block w-fit mb-2" href="/owners/admin">Create new product</a>
            </div>
        </div>
                <div class="w-[75%] flex flex-col gap-5 h-screen">
            <div class="flex items-start gap-5">
                <% products.forEach(function(product){ %>
                    <div class="w-60">
                        <div class="w-full h-52 flex items-center justify-center bg-[<%= product.bgcolor %>]">
                            <img class="h-[12rem]" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
                                alt="">
                        </div>
                        <div
                            class="flex justify-between bg-[<%= product.panelcolor %>] items-center px-4 py-4 text-[<%= product.textcolor %>]">
                            <div>
                                <h3>
                                    <%= product.name %>
                                </h3>
                                <h4>₹ <%= product.price %>
                                </h4>
                            </div>
                            <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white" href="">
                                <i class="ri-add-line"></i>
                            </a>
                        </div>ˇ
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>
                    <script>
                setTimeout(() => {
                    const flash = document.getElementById("flashMessage");
                    if (flash) {
                        flash.style.transition = "opacity 0.8s";
                        flash.style.opacity = "0";
                        setTimeout(() => flash.remove(), 800); // remove from DOM
                    }
                }, 1000); // ← fade after 2 seconds
            </script>
</body>
</html>
