<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="border-box m-0 p-0 font-'helvetica_now_display' overflow-hidden">
<%- include('./partials/header') %>
    <% if(success.length>0){ %>
        <div class="absolute top-5 ml-8 mt-10 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= success %>
            </span>
        </div>
        <% } %>

            <div class="w-[75%] flex flex-col items-center justify-center w-full h-full   gap-5 h-screen">
            <div class="flex flex-wrap items-start gap-5">
                <% products.forEach(function(product){ %>
                    <div class="w-65">
                        <div class="w-full h-52 object-cover flex items-center justify-center bg-[<%= product.bgcolor %>]">
                            <img class="h-[12rem]" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
                                alt="">
                       </div>
                        <div
                            class="flex justify-between bg-[<%= product.panelcolor %>] items-center px-4 py-4 text-[<%= product.textcolor %>]">
                            <div>
                                <h3>
                                    <%= product.name %>
                                </h3>
                                <h4>₹ <%= product.price %>
                                </h4>
                            </div>

                            <a class="text-red-500" href="/owners/remove/<%= product._id %>"> remove product</a>

                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>