<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmed</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <div class="max-w-4xl mx-auto bg-white p-8 mt-10 mb-10 shadow-lg rounded-lg">
        
        <div class="text-center mb-8 flex flex-row justify-start gap-28">
            <a href="/cart" class="text-xl text-zinc-500 mt-2 mr-12 px-3"> back to cart</a>
            <h1 class="text-4xl font-bold text-green-600 ">Order Summary</h1>
        </div>

        <div class="border p-6 rounded-xl bg-gray-50">
            <h2 class="text-2xl font-semibold mb-4">Order Details</h2>

            <% orderItems.forEach(item => { %>
                <div class="flex gap-6 mb-8 border-b pb-6">

                    <!-- Product Image -->
                    <div class="w-40 h-40 overflow-hidden rounded-md bg-gray-200">
                        <img 
                            class="w-full h-full object-cover"
                            src="data:image/jpeg;base64,<%= item.image.toString('base64') %>"
                            alt="<%= item.name %>"
                        >
                    </div>

                    <!-- Product Info -->
                    <div class="flex flex-col justify-center w-full">
                        
                        <div>
                            <h3 class="text-xl font-semibold"><%= item.name %></h3>
                            <p class="text-gray-600 mt-1">Quantity: <%= item.quantity %></p>

                        </div>

                        <div>

                            <p class="text-gray-700">Subtotal: 
                                <span class="font-bold">₹<%= item.subtotal %></span>
                            </p>
                        </div>

                    </div>

                </div>
            <% }) %>

            <!-- Totals -->
            <div class="mt-6">
                <div class="flex justify-between text-lg">
                    <p>Total Amount:</p>
                    <p class="font-bold text-green-600">₹<%= itemTotal %></p>
                </div>
            </div>

        </div>

        <div class="text-center mt-8">
            <form action="/create-order" method="post">
                <button type="submit"
                   class="px-6 py-3 bg-blue-600 text-white text-lg rounded-md hover:bg-blue-700 transition">
                   Confirm and pay 
                </button>
            </form>
        </div>

    </div>

</body>
</html>