<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="border-box m-0 p-0 font-'helvetica_now_display' overflow-hidden">
<%- include('./partials/header') %>


    <% if(success.length>0){ %>
        <div class="fixed bottom-18 left-[55vw] -translate-x-1/2 w-[15%]  bg-blue-500/20 backdrop-blur-2xl rounded-full px-8 py-3 flex flex-row justify-between shadow-lg border border-white/10 z-50 mb-10">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= success %>
            </span>
        </div>
        <% } %>

    <div class="w-full h-screen flex items-start px-20 py-30">
        <div class="w-[25%] flex h-screen flex-col items-start">
            <div class="flex items-center gap-2">
        <form class="mt-5 flex flex-row gap-2"  action="/shop" method="get" class="mb-4">
            <label>Sort By: </label>
            <select name="sort" onchange="this.form.submit()">
                <option value="">Default</option>
                <option value="price-asc" <%= sortParams === "price-asc" ? "selected" : "" %>>
                    Price: Low → High
                </option>
                <option value="price-desc" <%= sortParams === "price-desc" ? "selected" : "" %>>
                    Price: High → Low
                </option>
                <option value="name-asc" <%= sortParams === "name-asc" ? "selected" : "" %>>
                    Name: A → Z
                </option>
                <option value="name-desc" <%= sortParams === "name-desc" ? "selected" : "" %>>
                    Name: Z → A
                </option>
                <option value="newest" <%= sortParams === "newest" ? "selected" : "" %>>
                    Newest First
                </option>
            </select>
        </form>
            </div>
            <div class="flex flex-col mt-20">
                <a class="block w-fit mb-2" href="">New Collection</a>
                <a class="block w-fit mb-2" href="">All Products</a>
                <a class="block w-fit mb-2" href="">Discounted Products</a>
            </div>
            <div class="mt-32">
                <a class="block w-fit mb-2" href="">Filter by :</a>
                <a class="block w-fit mb-2" href="">Availability</a>
                <a class="block w-fit mb-2" href="">Discount</a>
            </div>
        </div>
            <div class="w-[75%] flex flex-col   gap-5 h-screen">
            <div class="flex flex-wrap items-start gap-5">
                <% products.forEach(function(product){ %>
                    <div class="w-65">
                        <div class="w-full h-52 object-cover flex items-center justify-center bg-[<%= product.bgcolor %>]">
                            <img class="h-[12rem]" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
                                alt="">
                       </div>
                        <div
                            class="flex justify-between bg-[<%= product.panelcolor %>] items-center px-4 py-4 text-[<%= product.textcolor %>]">
                            <div>
                                <h3>
                                    <%= product.name %>
                                </h3>
                                <h4>₹ <%= product.price %>
                                </h4>
                            </div>
                            <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white" href="/addtocart/<%= product._id %>">
                                <i class="ri-add-line"></i>
                            </a>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>